<div class="form-container">

  <h1 class="form-title">Sign Up</h1>

  <form>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control">
    </div>

    <button class="btn btn-primary btn-block">Sign Up</button>

    <div class="links">
      <a href="#">Log In</a>
    </div>

  </form>

</div>
