body {

  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color:blue;
  color:blue;
  padding: 1rem 0;

  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 60%;

      .logo {
          font-size: 3rem;
      }

      ul {
          list-style: none;
          display: flex;

          li {
              margin-left: 20px;

              a {
                  color: white;
                  text-decoration: none;
                  &:hover {
                      color: #ddd;
                  }
              }
          }
      }
  }
}

.hero {
  background: url('path-to-your-background-image.jpg') no-repeat center center/cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  .hero-content {
      max-width: 600px;

      h1 {
          font-size: 3.5rem;
      }

      .btn-primary {
          background-color: #007bff;
          color: white;
          border: 1px solid white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 5px;
          margin-top: 20px;

          &:hover {
              background-color: #0056b3;
          }
      }
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
