<div class="super-div">
<div class="navbar">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo-ok.png', alt: 'Logo' %>
    <% end %>
  </div>
  <ul class="navbar-links">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contact
      </a>
      <div class="dropdown-menu" aria-labelledby="contactDropdown">
        <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=SEUNUMERODOTELEFONE" target="_blank">
          <span class="icon"><i class="fa-brands fa-whatsapp"></i></span>
          <span class="text">Whatsapp</span>
        </a>
        <a class="dropdown-item" href="mailto:seuemail@gmail.com" target="_blank">
          <span class="icon"><i class="fa-regular fa-envelope"></i></span>
          <span class="text">Email</span>
        </a>
      </div>
    </li>
    <li>
      <% if current_user  %>
        <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </li>
  </ul>
</div>


</div>

