<%# <p>Find me in app/views/pages/home.html.erb</p> %>
<%# <h1>Show Connect</h1> %>
<%# <h2>A arte de conectar-te</h2> %>
<%# <tr>----------------</tr> %>

<%# <%= link_to "categories", categories_path() %>

<header class="header">
  <div class="container">
    <h1>Find the perfect artist</h1>
  </div>
</header>

<div class="categories">
  <a href="#">Music</a>
  <a href="#">Cook Chief</a>
  <a href="#">Animation</a>
</div>

<div class="container content">

  <h2>Custom events from talented artists</h2>

  <p>
   ShowConnnect has artists skilled in everything from Music to Animation. Get custom events for the date that you need.
  </p>

  <button>Start Your Design Project</button>

</div>
