<%# <p>Find me in app/views/pages/home.html.erb</p> %>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://st.depositphotos.com/2230996/2388/i/450/depositphotos_23885249-stock-photo-magic-of-music.jpg);">

<div class="name-slogan">
<h1>Show Connect</h1>
<h2>A arte de conect'ar-te'</h2>
<%#= link_to "categories", categories_path() %>
</div>

  <div class="container">
    <h1><strong>Show Connect</strong> tech skills to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
