<section class="hero">
  <div class="hero-content">
      <h1>Welcome to your Party</h1>
      <p>Discover a world of attractions.</p>
      <button class="btn-primary"><%= link_to "Find your artist", events_path %></button>
  </div>

</section>
