.card-img-top {
  height: 180px;
  object-fit: cover ;
  border-radius: 2%;
}

.dropdown-menu.show {
  border-radius: 10%;
}

.event-title {
  height: 100px;
  text-align: center;
}
.event-info {
  height: 400px;
}
.event-detail-container  {
  border:1px solid #dbd8d8;
  height: 640px;
  .card-img-top {
    height: 212px;
  }
  .btn-primary-edit {
    width: 100px;
    color: #fff;
    background-color: green;
    border-color: black;
    border-radius: 8%;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .btn-primary-delete {
    width: 100px;
    color: #fff;
    background-color: red;
    border-color: black;
    border-radius: 8%;
    margin-left: 520px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
