// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";


.name-slogan {
  margin: 5px;
  color:rgb(29, 29, 226);
  font-size: 66px;

}

.banner {
  color:red;
  object-fit: cover;
  width: 100%;
  height: 91.5vh;
  // border: 3px solid green;
  background-repeat: no-repeat;
  background-position: center; // Adicionado para centralizar a imagem
  background-size: cover;
  // border-radius: 8px;
  position: relative;

}
.btn-flat{
  color:green;
}
.container {
  margin: 10px 30px;
  padding: 8px 20px;
}
