// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";

.navbar-text {
  font-size: 22px;
  font-family: Arial
}
.container {
  margin: 20px 40px;
  padding: 8px 20px;
}

#categoryDropdown {
  border-radius: none;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.event-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;

  .event-title {
      color: #333;
      margin-bottom: 10px;
      text-align: center;
  }


  .event-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
      border-radius: 5px;
  }

  .event-info {
      p {
          margin: 5px 0;
          display: flex;
          align-items: center;

          i {
              margin-right: 5px;
              // Add more styles or classes for icons
          }
      }
  }

  .btn-primary {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #007bff;
      color: white;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;

      &:hover {
          background-color: #0056b3;
      }
  }
}
// Design of the checkout page in the Views of Events
.checkout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .event-detail-title {
      color: #333;
      text-align: center;
      margin-bottom: 20px;

  }

  .event-detail-container {
      width: 70%;
      padding: 20px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    // Existing styles for event details
  }

  .payment-section {  // Styles for the Stripe payment section
      width: 30%;
      padding: 20px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    // Styles for the Stripe payment section
  }

}


#dropdown-show {
  border-radius: 0;
}

.bg-categories {
  background-color: #ddd;
  padding: 20px 0;
  position:sticky;
  top: 0px;
}

 .h1-Categories {
    text-align: center;
  }

.appointment-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  h1 {
    margin-bottom: 10px;
  }
}

.details {
  display: flex;
  align-items: center;

  .date,
  .time {
    margin-right: 25px;
  }
}

.btn {
  border-radius: 40px;
}
