// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";

.navbar-text {
  font-size: 22px;
  font-family: Arial
}
.container {
  margin: 20px 40px;
  padding: 8px 20px;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.event-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;

  .event-title {
      color: #333;
      margin-bottom: 10px;
  }

  .event-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
      border-radius: 5px;
  }

  .event-info {
      i {
          // Add styles for icons here
      }

      p {
          margin: 5px 0;
          display: flex;
          align-items: center;

          i {
              margin-right: 5px;
              // Add more styles or classes for icons
          }
      }
  }

  .btn-primary {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #007bff;
      color: white;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;

      &:hover {
          background-color: #0056b3;
      }
  }
}
.event-detail-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 5px;



  .event-detail-title {
      color: #333;
      text-align: center;
      margin-bottom: 20px;
  }

  .event-detail-card {
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;

      .event-stage-name {
          color: #007bff;
          margin-bottom: 15px;
      }

      .event-detail {
          color: #666;
          margin: 10px 0;

          strong {
              color: #333;
          }
      }
  }
}
