.navbar-lewagon {
  justify-content: space-between;
  background: rgb(236, 95, 95);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
  border-radius: 50%;
  border:1px solid rgb(153, 252, 5);
}
